{% extends 'base.html.twig' %}

{% block title %}
	{{ 'register.title'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'register.title'|trans }}</h1>

	{{ form(registrationForm) }}

    <p>{{ 'register.already-account'|trans }}
        <a href="{{ path('app_login') }}">{{ 'register.login'|trans }}</a>
    </p>
{% endblock %}
