{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}
	<a href="{{ path('app_product_index') }}" class="btn btn-light">{{ 'app.actions.back'|trans }}</a>
	<h1>{{ product.name }}</h1>
	<div class="d-flex">
		<img src="{{ asset('/uploads/'~ product.image) }}" alt="{{ product.name }}" class="product-image">

		<div>
			<p>{{ product.description }}</p>
			<p class="text-primary">{{ product.price }}€</p>
			{% if product.stock > 0 %}
				<p class="card-text">{{ 'product.stock'|trans({'%nb%':product.stock}) }}</p>
			{% else %}
				<p class="card-text text-danger">{{ 'product.stock-out'|trans }}</p>
			{% endif %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% if product.stock > 0 %}
					<a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-primary">
						<i class="fas fa-shopping-cart"></i>
					</a>
				{% else %}
					<a class="btn btn-primary disabled">
						<i class="fas fa-shopping-cart"></i>
					</a>
				{% endif %}

			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-light">{{ 'app.actions.edit'|trans }}</a>
				<a href="{{ path('app_product_delete', {'id': product.id}) }}" class="btn btn-danger">{{ 'app.actions.delete'|trans }}</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
